body {
    background: #ffffff;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}

#heroimage {
    width: 100%;
    height: 100vh;
    background-image: url(../img/heroimage1.png);
    background-size: cover;
    background-position: center;

    position: relative;
}

.heroimage2 {
    width: 100%;
    height: 700px;
    background-image: url(../img/heroimage2.png);
    background-size: cover;
    background-position: center;
}

.heroimage3 {
    width: 100%;
    height: 500px;
    background-image: url(../img/heroimage3.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

.heroimage4 {

    width: 100%;
    height: 500px;
    background-image: url(../img/heroimage4.png);

    background-size: cover;
    position: relative;

}

.heroimage5 {

    width: 100%;
    height: 500px;
    background-image: url(../img/heroimage5.png);
    background-position: center;
    background-size: contain;

    position: relative;

}



.heroproject {
    box-sizing: border-box;
    position: absolute;
    top: 30%;
    left: 16%;
    transform: translate(-30%, -15%);
    background-color: rgba(218, 218, 218, 0.7);
    color: #343034;
    opacity: 100%;
    text-align: left;
    padding: 30px;
    width: 43%;

}


.nameofproject {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 26px;
    Padding-bottom: 30px;
}

.descriptionofproject {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 16px;
}



.projectsgroup {
    position: absolute;
    left: 15px;
    bottom: 30px;
    width: 100%;
}



.projecttitle {

    padding: 10px 0 10px 15px;

    width: calc(24%);
    float: left;
    box-sizing: border-box;
    color: #DADADA;
    font-family: 'Montserrat', sans-serif;
    border-top: 2px solid #DADADA;



}

.title {
    font-weight: 200;
    font-size: 16px;

}

.titletext {
    font-weight: 500;
    font-size: 14px;

}




.navigation {
    background-color: #495057;
    position: fixed;
    z-index: 900;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 20px;
    font-family: 'Montserrat', sans-serif;

}




.menu {
    float: right;
}

.menu li {
    display: inline-block;
    font-size: 20px;
    line-height: 35px;
    padding: 0 10px;
    text-align: center;
    font-weight: 300;

}



ul {
    text-align: right;
    margin-right: 60px;
}


.navigation h1 {

    text-align: left;
    padding: 0 10px;
    font-size: 27px;
    display: inline-block;

}

.clear {
    clear: both;
}

a {
    text-decoration: none;
    color: inherit;
    outline: none;

}

h1 a {
    color: #ffffff;
    display: inline;
    font-size: 24px;
    font-weight: 500;
}



.innerDiv {
    width: 100%;
    max-width: 900px;
    margin: 40px auto;
    padding: 4%;


}

h2 {
    text-align: left;
    color: #5C2100;
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.image img {
    height: 400px;
    width: 280px;
    float: left;


}

.background {

    background-color: #ffffff;
    height: 400px;
    float: left;
    border: 25px solid #DFE1E3;
    box-sizing: border-box;
    width: calc(100% - 330px);
    margin-left: 30px;
    padding: 30px;



}

.clear {
    clear: both;
}

p {

    color: black;
    font-size: 18px;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}





.buttonreadmore {

    background: #495057;
    color: white;
    font-size: 16px;
    border: 0;
    font-weight: bold;
    padding: 10px 50px;
    border-radius: 5px;
    float: right;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    cursor: pointer;

}


.buttonreadmore:hover {
    background-color: #B47A3D;
}





.project {

    width: calc(33%);
    float: left;
    box-sizing: border-box;
    height: 225px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Montserrat', sans-serif;


}

.project.project1 {

    background-image: url(../img/projectmyportfilio.png);

}

.project.project2 {


    background-image: url(../img/projectbaktransport.png);

}

.project.project3 {

    background-image: url(../img/projecttastybox.png);

}

.project.project4 {

    background-image: url(../img/projectzanov.png);
    margin-top: 60px;
    margin-bottom: 60px;
}

.project.project5 {

    background-image: url(../img/projectsugarwish.png);
    margin-top: 60px;
    margin-bottom: 60px;
}

.project.project6 {

    background-image: url(../img/projectukim.png);
    margin-top: 60px;
    margin-bottom: 60px;
}

.projectDescription {
    background-color: #2D3333;
    opacity: 80%;
    width: 100%;
    height: 40%;
    box-sizing: border-box;
    text-align: left;
    color: white;
    margin-top: 135px;

}

.projectName {
    font-size: 14px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.projectText {
    font-size: 12px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.testemonials {
    background-color: #EEEDEB;
    position: relative;

}

.testemonialText {

    color: #000000;
    font-size: 15px;
    line-height: normal;
    padding: 40px 60px 40px 60px;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;

}

.testemonialPerson {


    text-align: right;
    padding: 0 60px 20px 0;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.testemonialName {

    font-size: 16px;
}

.testemonialPosition {
    font-size: 14px;
}

.circles {
    position: absolute;
    right: 50%;


}

.circles1 {
    background-color: #B47A3D;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-top: 20px;
    float: left;
    margin-right: 10px;

}

.circles2 {
    background-color: #E5D4C2;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-top: 20px;
    float: left;
    margin-right: 10px;
}

.circles3 {
    background-color: #B47A3D;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-top: 20px;
    float: left;
    margin-right: 10px;
}

.clear {
    clear: both;
}

.footer {

    background-color: #DFE1E3;
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
    position: relative;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;

}





.name {
    color: #5C2100;
    font-size: 26px;
    text-align: center;
    padding-top: 60px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.contact {
    color: #2D3333;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.contact .contactmail {
    padding-bottom: 10px;
}

.contact .contacttelephone {
    padding-bottom: 10px;
}

.contact .contactskype {
    padding-bottom: 10px;
}

.foot {
    background-color: #495057;
    height: 60px;
    font-family: 'Montserrat', sans-serif;
}

.footname {
    font-size: 14px;
    padding: 20px 0 20px 100px;
    float: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}


.socialmedia {
    padding: 20px 100px 20px 0px;
}

.socialmedia .linkedin {
    float: right;
    padding-right: 20px;

}

.socialmedia .instagram {
    float: right;
    padding-right: 20px;

}

.socialmedia .facebook {
    float: right;
    padding-right: 20px;

}


h3 {
    color: #5C2100;
    font-size: 36px;
    font-weight: 300;
}


.contacts i {
    font-size: 50px;
    font-weight: bold;
    margin: 30px 0px;
    font-weight: 300;

}

.contacts {
    font-weight: 300;

}

.picture {
    text-align: center;
    margin-bottom: 20px;
}

.picture img {
    height: 400px;

}

.abouttext {
    background-color: #EAEBED;
    box-sizing: border-box;
    padding: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;

}

.skills {
    color: #000000;
    box-sizing: border-box;
}

.skills div {
    padding-bottom: 30px;
}

.skills img {
    width: auto;
    height: 100px;


}




.education {
    background-color: #65686B;
    height: 400px;
    float: left;
    box-sizing: border-box;
    width: calc(100%);

}

.educationBrainster img {

    width: 150px;
    height: 150px;
    float: left;
}



.educationBrainster {
    background-color: #65686B;
    box-sizing: border-box;
    height: 400px;
    width: 50%;
    float: left;
    Padding: 20px;

}

.clear {
    clear: both;
}

.educationproject {

    color: #C4C4C4;
    padding: 30px;
    margin-left: 100px;
    text-align: center;

}

.educationtitle {

    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;

}


.educationtext {

    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}




.educationUkim {
    background-color: #353B41;
    height: 400px;


}


.educationUkim img {
    width: 150px;
    height: 150px;
    float: right;


}


.workingProcess h3 {
    color: #5C2100;
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}


ol li {

    color: #000000;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding: 3px 0;
}


.projectgoal {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #2D1339;
    margin-top: 30px;
    margin-bottom: 30px;
    float: left;
}


.projectgoal img {

    width: 200px;
    height: 100px;
    margin-left: 80px;
}

.projectgoalzanov img {

    width: 200px;
    height: 130px;
    margin-left: 80px;
}

.clear {
    clear: both;
}



.projectpicture {
    width: 100%;
    height: 300px;
    background-image: url(../img/airplane.jpg);
    background-position: center;


}

.projectpicture2 {
    width: 100%;
    height: 300px;
    background-color: #2D3333;
    opacity: 60%;
}

.projectpicture3 {
    width: 100%;
    height: 300px;
    background-color: #D2232A;
    background-position: center;
    color: #ffffff;



}


.projectpicture4 {
    width: 100%;
    height: 300px;
    background-image: url(../img/heropic.png);
    background-size: contain;

}


.projectpicture5 {
    width: 100%;
    height: 300px;
    background-color: #B47A3D;
    opacity: 90%;
    background-position: center;
    color: #ffffff;



}



.projectinfo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 16px;
    padding: 50px 0;
}



.items {
    width: calc(33%);
    box-sizing: border-box;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 200;
    float: left;
    padding: 0 20px;

}

.itemIcon {

    text-align: center;
    padding-bottom: 20px;

}

.itemText {
    text-align: justify;
}

.clear {
    clear: both;
}



.wireframes img {
    width: 450px;
    height: 300px;
    float: left;
}



.projectpic {

    background-color: #F4F3F1;
    color: #2D3333;
    text-align: center;

}



.bakpic img {
    width: 350px;
    height: 100px;

}

.zanovpic img {
    width: 450px;
    height: 50px;

}



.projectimg {
    width: 100%;
    height: 300px;
    background-image: url(../img/pic.png);
    background-position: center;

}


.left {
    text-align: justify;
    padding: 20px 0;


}

.right {
    text-align: justify;
    padding: 20px 0;

}

.projectinfo2 {
    font-weight: 200;
    font-size: 14px;


}



@media (min-width: 992px) and (max-width: 1199.98px) {
	.menu li {
	font-size: 16px;
}

h1 a {
	font-size: 21px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 26px;
}

.circles {
    Position: inherit;
    width: fit-content;
    margin: 0 auto;
    display: flex;
}

.testemonialText {
	font-weight: 300;
}

.contacts i {
    font-size: 40px;
    margin: 15px 0px;
}

    .innerDiv {
        box-sizing: border-box;
        padding: 30px 20px;
    }


    .buttonreadmore {

        width: 100%;
        margin: 10px;
    }


    p {

        font-size: 16px;
	font-weight: 200;
    }

.picture {
    margin-bottom: 30px;
}

.abouttext {
	padding: 20px 30px;
}

	.skills img { 
		height: 70px;
	}

	.skills {
		font-size: 14px;
	}


.educationtitle {
	font-size: 20px;
	font-weight: 600;
}

.educationtext {
    font-size: 16px;
    font-weight: 300;
}

.workingProcess h3 {
	font-size: 20px;
}

ol li {
	font-size: 14px;
}

.name {
	font-size: 26px;
}

.projecttitle {
width: calc(24%);
}

.contact {
	padding-top: 40px;
	padding-bottom: 40px;
}

.footname {
	font-size: 14px;
	font-weight: 200;
}

}

@media (min-width: 768px) and (max-width: 991.98px) {
.navigation h1 {
font-size: 18px;
font-weight: 500;
}

h1 a {
Font-size: inherit;
}

ul {
margin-right: 0;
}

.menu li {
font-size: 16px;
line-height: 20px;
}

h2 {
Font-size: 20px;
}

.image img {
    height: 300px;
    width: auto;
}

.background {
height: 300px;
}

p {
font-size: 14px;
font-weight: 200;
}

.buttonreadmore {
font-size: 12px;
font-weight: 500;
}

.testemonialText {
font-size: 14px;
line-height: 20px;
font-weight: 300;
}

.testemonialName {
    font-size: 14px;
}

.testemonialPosition {
    font-size: 12px;
}

.circles {
    position: inherit;
    width: fit-content;
    margin: 0 auto;
    display: flex;
}

.name {
font-size: 20px;
}

.contact {
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 300;
}

.heroproject {
left: 25%;
width: 65%;
}

.nameofproject {
font-size: 18px;
padding-bottom: 15px;
}

.descriptionofproject {
font-size: 14px;
}

.title {
    font-size: 14px;
}

.titletext {
    font-weight: 400;
    font-size: 12px;
}

.projecttitle {
width: calc(24%);
}

.projectgoal {
font-size: 14px;
}

.projectgoal img {
    width: auto;
    height: 50px;
}

.projectinfo {
font-size: 14px;
}

.items {
font-size: 12px;
}

.itemIcon img {
height: 50px;
}

.wireframes img {
width: auto;
height: 200px;
}

.bakpic img {
    width: auto;
    height: 60px;
}

.projectinfo2 {
    width: 90%;
}

.picture {
    margin-bottom: 30px;
}

.picture img {
    height: 250px;
}

.abouttext {
width: 92%;
}

.skills img {
    height: 50px;
}

.skills span {
font-size: 10px;
}

.education {
height: 200px;
}

.educationBrainster {
height: 200px;
}

.educationUkim {
height: 200px;
}

.educationBrainster img {
    width: auto;
    height: 90px;
}

.educationUkim img {
    width: auto;
    height: 90px;
}

.educationproject {
    margin-left: 80px;
}

.educationtitle {
    font-size: 17px;
font-weight: 500;
}

.educationtext {
    font-size: 13px;
font-weight: 500;
}

.workingProcess h3 {
font-size: 21px;
}

ol li {
font-size: 14px;
font-weight: 300;
}

h3 {
    font-size: 21px;
}

.contacts i {
font-size: 30px;
margin: 20px 0px;
}

.heroimage2 {
height: 100vh;
}

}

@media (min-width: 576px) and (max-width: 767.98px) {
.navigation h1 {
font-size: 18px;
font-weight: 500;
}

h1 a {
font-size: inherit;
}

ul {
margin-right: 0;
}

.menu li {
font-size: 16px;
line-height: 20px;
}

h2 {
font-size: 18px;
}

.image img {
    height: 200px;
    width: auto;
}

.background {
height: 200px;
Width: 65%;
}

p {
font-size: 12px;
    font-weight: 200;
    margin: 0;
}

.project {
width: 100%;
}

.projectName {
    font-size: 18px;
}

.projectText {
    font-size: 14px;
}

.testemonials {
Width: 92%;
}

.buttonreadmore {
font-size: 10px;
font-weight: 500;
padding: 8px 20px;
}

.testemonialText {
font-size: 14px;
line-height: 20px;
font-weight: 300;
}

.testemonialName {
    font-size: 14px;
}

.testemonialPosition {
    font-size: 12px;
}

.circles {
    position: inherit;
    width: fit-content;
    margin: 0 auto;
    display: flex;
}

.name {
font-size: 20px;
}

.contact {
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 300;
}

.heroproject {
left: 30%;
width: 80%;
}

.projecttitle {
width: calc(47%);
border-top: 0.5px solid #DADADA;

}

.nameofproject {
font-size: 18px;
padding-bottom: 15px;
}

.descriptionofproject {
font-size: 14px;
}

.title {
    font-size: 14px;
}

.titletext {
    font-weight: 400;
    font-size: 12px;
}

.projectgoal {
font-size: 14px;
}

.projectgoal img {
    width: auto;
    height: 50px;
}

.projectinfo {
font-size: 14px;
Width: 92%;
}

.items {
font-size: 14px;
line-height: 20px;
width: 92%;
}

.itemIcon img {
height: 50px;
}

.itemIcon {
padding-top: 40px;
}

.wireframes img {
width: 100%;
height: auto;
}

.bakpic img {
    width: auto;
    height: 60px;
}

.projectinfo2 {
    width: 90%;
}

.picture {
    margin-bottom: 30px;
}

.picture img {
    height: 250px;
}

.abouttext {
width: 92%;
}

.skills img {
    height: 50px;
}

.skills span {
font-size: 10px;
}

.education {
height: auto;
}

.educationBrainster {
height: auto;
width: 100%;
float: initial;
}

.educationUkim {
height: auto;
width: 100%;
}

.educationBrainster img {
    width: auto;
    height: 90px;
}

.educationUkim img {
    width: auto;
    height: 90px;
}

.educationproject {
    margin-left: 80px;
}

.educationtitle {
    font-size: 17px;
font-weight: 500;
}

.educationtext {
    font-size: 13px;
font-weight: 500;
}

.workingProcess h3 {
font-size: 21px;
}

ol li {
font-size: 14px;
font-weight: 300;
}

h3 {
    font-size: 21px;
}

.contacts i {
font-size: 30px;
margin: 20px 0px;
}

.heroimage2 {
height: 100vh;
}

}

@media (max-width: 575.98px) {
.innerDiv {
width: auto;
}
.navigation h1 {
font-size: 20px;
    font-weight: 500;
    width: 100%;
    display: block;
    margin: 0 auto;
    text-align: center;
}

h1 a {
font-size: inherit;
}

ul {
margin-right: 0;
margin-left: 0;
padding-left: 0;
text-align: center;
}

.menu {
    float: none;
} 

.menu li {
font-size: 14px;
line-height: 20px;
}

h2 {
font-size: 22px;
Text-align: center;
}

.image {
display: flex;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.image img {
height: 200px;
   width: auto;
    margin: 0 auto;
}

.background {
height: auto;
    width: 100%;
    padding: 15px;
    margin: 4% 0;
}

p {
font-size: 16px;
    font-weight: 200;
    margin: 0;
}

.project {
width: 100%;
}

.projectName {
    font-size: 18px;
}

.projectText {
    font-size: 14px;
}

.testemonials {
width: 100%;
}

.buttonreadmore {
font-size: 15px;
font-weight: 500;
padding: 8px 20px;
margin-top: 20px;
}

.testemonialText {
font-size: 14px;
line-height: 20px;
font-weight: 300;
padding: 40px 30px
}

.testemonialName {
    font-size: 14px;
}

.testemonialPerson { 
padding: 0 30px 20px 0;
}

.testemonialPosition {
    font-size: 12px;
}

.circles {
    position: inherit;
    width: fit-content;
    margin: 0 auto;
    display: flex;
}

.name {
font-size: 20px;
}

.contact {
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 300;
}

.heroproject {
left: 30%;
width: 80%;
}

.projecttitle {
width: calc(47%);
border-top: 0.5px solid #DADADA;

}

.nameofproject {
font-size: 18px;
padding-bottom: 15px;
}

.descriptionofproject {
font-size: 14px;
}

.title {
    font-size: 14px;
}

.titletext {
    font-weight: 400;
    font-size: 12px;
}

.projectgoal {
font-size: 14px;
}

.projectgoal img {
    width: auto;
    height: 50px;
}

.projectinfo {
font-size: 14px;
Width: 92%;
}

.items {
font-size: 14px;
line-height: 20px;
width: 92%;
}

.itemIcon img {
height: 50px;
}

.itemIcon {
padding-top: 40px;
}

.wireframes img {
width: 100%;
height: auto;
}

.bakpic img {
    width: auto;
    height: 60px;
}

.projectinfo2 {
    width: 90%;
}

.picture {
    margin-bottom: 30px;
}

.picture img {
    height: 250px;
}

.abouttext {
width: 92%;
}

.skills img {
    height: 50px;
}

.skills div {
width: 50% !important;
    margin: 0 auto;
    text-align: center;
}

.skills span {
font-size: 12px;
    width: 100%;
    display: block;
}

.education {
height: auto;
}

.educationBrainster {
height: auto;
width: 100%;
float: initial;
}

.educationUkim {
height: auto;
width: 100%;
}

.educationBrainster img {
    width: auto;
    height: 90px;
}

.educationUkim img {
    width: auto;
    height: 90px;
}

.educationproject {
    margin-left: 80px;
}

.educationtitle {
    font-size: 17px;
font-weight: 500;
}

.educationtext {
    font-size: 13px;
font-weight: 500;
}

.workingProcess h3 {
font-size: 21px;
}

ol li {
font-size: 14px;
font-weight: 300;
}

h3 {
    font-size: 21px;
}

.contacts i {
font-size: 30px;
margin: 20px 0px;
}

.heroimage2 {
height: 100vh;
}

.foot {
height: 100px;
}

.footname {
padding: 5% 0;
width: 100%;
margin: 0 auto;
text-align: center;
}

.socialmedia i {
Font-size: 24px;
}
}
